body
{
    padding: 0px;
    margin: 0px;
    color: aliceblue;
    background-image: url("cafe.PNG");
    background-repeat: no-repeat;
    font-family: Caveat ;
    font-size: 20px;
    
}
headings
{
    text-align: center;
    color: #ffffe6;
    background-color: aqua;
    padding: 20px;
    text-align: center;
}

heading h1
{  
     margin: 0px;
     color: white;
     position: absolute;
     left: 30px;
     top: 50px
}

.about
{
    position: absolute;
    top:150x;

}
.menu{
    position: absolute;
    top: 150px;
    left:20px;
}
.contact
{
    position: fixed;
    bottom:200px;
    left:20px;
}
.btn
{
    position: relative;
    top:550px;
    left: 150px;
    border-style: solid 5px white;
    font-size: 30px;
}



